@import 'normalize.css';
@import 'media';

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    @include media($mobile-md) {
        font-size: 14px;
        height: 100vh;
        min-height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    @include media($mobile-xl) {
        font-size: 16px;
        height: 100vh;
        min-height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    @include media($tablet-md) {
        font-size: 18px;
    }
    @include media($desktop-s) {
        font-size: 20px;
    }
    @include media($desktop-md) {
        font-size: 20px;
    }
    @include media($desktop-xl) {
        font-size: 20px;
    }
}

h2, p {
    text-align: center;
}

h2 {
    margin-bottom: 3rem;
    @include media($tablet-up) {
        margin-bottom: 1rem;
    }
}

.board {
    background-image: url(/assets/tlo.jpg);
    background-size: 100%;
    width: 20rem;
    height: 20rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media($tablet-up) {
        width: 600px;
        height: 600px;
        margin: 2rem auto;
    }
}

.broccoli {
    cursor: pointer;
    width: 14rem;
    @include media($tablet-up) {
        height: 500px;
        width: unset;
    }
}

.let-it-roll {
    transition:5.2s ease all;
}
